<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Patrick Mahomes Stats</title>
</head>
<body>
    <div id="app">

        <!-- Heading -->

        <div class="container-fluid">
            <div class="row bg-danger">
                    <img class="img-fluid float-left;" style="height:100px;width:180px;" src="./img/kansas-city-chiefs-logo-transparent.png" alt="">
                    <div class="container">
                        <div class="content-heading" >
                            <p class="display-4 pt-2 text-warning" 
                            style="font-size: 65px; font-family: 'Cardo', serif;">
                                Patrick Mahomes Stat Tracker
                            </p>
                        </div>
                    </div>
            </div>
        </div>

        <!-- Current season, add button, and error or success message. -->

        <div class="container">
            <div class="row mt-3">
                <div class="col-lg-6">
                    <div class="dropdown" >
                        <button
                                class="btn btn-warning dropdown-toggle status"
                                type="button" 
                                data-toggle="dropdown"
                        >  
                               
                        <span id="selected">2020 - 2021</span><span class="caret"></span></a>
                        </button>
                        <div class="dropdown-menu bg-warning" 
                             id="dropdownYear"
                             v-for="game in games">
                            <a  class="dropdown-item"
                                id="defaultOption" 
                                value="2020 - 2021" 
                                href="#" 
                                @click="getAllGames('twentytwenty')
                                        selectGame(game);"
                                >2020 - 2021
                            </a>
                          <a class="dropdown-item" id = "one" value="2019 - 2020" href="#" @click="getAllGames('twentynineteen'); selectGame(game);">2019 - 2020</a>
                          <a class="dropdown-item" id = "two" value="2018 - 2019" href="#" @click="getAllGames('twentyeighteen'); selectGame(game);">2018 - 2019</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-dark float-right" 
                            @click="showAddForm=true">
                            <i class="fas fa-football-ball">
                            </i>
                            &nbsp;&nbsp;Add Game Data
                    </button>
                </div>
            </div>
            <hr class="bg-danger">
            <div class="alert alert-danger" 
                 v-if="errorMsg">
                {{ errorMsg }}
            </div>
            <div class="alert alert-success" 
                 v-if="successMsg">
                {{ successMsg }}
            </div>

            <!-- Table Heading -->

            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr class="text-center bg-danger text-warning">

                                <th>Date   </th>
                                <th>Week   </th>
                                <th>Opp    </th>
                                <th>Result </th>
                                <th>Score  </th>
                                <th>Comp   </th>
                                <th>Att    </th>
                                <th>Comp%  </th>
                                <th>Yds    </th>
                                <th>TD     </th>
                                <th>Int    </th>
                                <th>Rate   </th>
                                <th>RushYds</th>
                                <th>Edit   </th>
                                <th>Delete </th>

                            </tr>
                        </thead>

                        <!-- Table Data -->

                        <tbody>
                            <tr class="text-center" 
                                style="color:white;" 
                                v-for="game in games">

                                <td>{{ game.date     }}</td>
                                <td>{{ game.week     }}</td>
                                <td>{{ game.opp      }}</td>
                                <td>{{ game.result   }}</td>
                                <td>{{ game.score    }}</td>
                                <td>{{ game.comp     }}</td>
                                <td>{{ game.att      }}</td>
                                <td>{{ game.compPerc }}</td>
                                <td>{{ game.yds      }}</td>
                                <td>{{ game.td       }}</td>
                                <td>{{ game.int      }}</td>
                                <td>{{ game.rate     }}</td>
                                <td>{{ game.rushyds  }}</td>

                                <td><a href="#" 
                                       class="text-light" 
                                       @click="showEditForm=true; 
                                               selectGame(game);">
                                       <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                                <td><a href="#" 
                                       class="text-danger" 
                                       @click="showDeleteForm=true; 
                                               selectGame(game);">
                                       <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>  
            </div>
        </div>

        <!-- Add Game Data Form -->

        <div id="overlay" 
             v-if="showAddForm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Game Data</h5>
                        <button 
                                type="button" 
                                class="close" 
                                @click="showAddForm=false"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <form action="#" 
                              method="POST">
                            <div class="form-group">
                                <input 
                                        class="form-control-lg" 
                                        type="text" 
                                        name="date" 
                                        placeholder="Date" 
                                        v-model="newGame.date"
                                >
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control-lg" 
                                        type="number" 
                                        name="week" 
                                        placeholder="Week" 
                                        v-model="newGame.week"
                                >
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control-lg" 
                                        type="text" 
                                        name="opp" 
                                        placeholder="Opp" 
                                        v-model="newGame.opp"
                                >
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control-lg" 
                                        type="text" 
                                        name="result" 
                                        placeholder="Result" 
                                        v-model="newGame.result"
                                >
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control-lg" 
                                        type="text" 
                                        name="score" 
                                        placeholder="score" 
                                        v-model="newGame.score"
                                >
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control-lg" 
                                        type="number" 
                                        name="comp" 
                                        placeholder="Comp" 
                                        v-model="newGame.comp"
                                >
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control-lg" 
                                        type="number" 
                                        name="att" 
                                        placeholder="Att" 
                                        v-model="newGame.att"
                                >
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control-lg" 
                                        type="number" 
                                        name="compPerc" 
                                        placeholder="Comp%" 
                                        v-model="newGame.compPerc"
                                >
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control-lg" 
                                        type="number" 
                                        name="yds" 
                                        placeholder="Yds" 
                                        v-model="newGame.yds"
                                >
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control-lg" 
                                        type="number" 
                                        name="td" 
                                        placeholder="TD" 
                                        v-model="newGame.td"
                                >
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control-lg" 
                                        type="number" 
                                        name="int" 
                                        placeholder="Int" 
                                        v-model="newGame.int"
                                >
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control-lg" 
                                        type="number" 
                                        name="rate" 
                                        placeholder="Rate" 
                                        v-model="newGame.rate"
                                >
                            </div>
                            <div class="form-group">
                                <input
                                        class="form-control-lg"  
                                        type="number" 
                                        name="rushyds" 
                                        placeholder="RushYds" 
                                        v-model="newGame.rushyds"
                                >
                            </div>
                            <div class="form-group">
                                <button 
                                        class="btn btn-warning btn-block btn-lg" 
                                        @click="showAddForm=false; 
                                                addGame(); 
                                                getAllGames(); 
                                                clearMsg();"
                                >Add Data
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Game Form -->

        <div id="overlay" 
             v-if="showEditForm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Week {{ currentGame.week }}</h5>
                        <button type="button" 
                                class="close" 
                                @click="showEditForm=false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <form action="#" 
                              method="POST">
                            <div class="form-group">
                                <input
                                        class="form-control-lg" 
                                        type="text" 
                                        name="date" 
                                        placeholder="Date" 
                                        v-model="currentGame.date"
                                >
                            </div>
                            <div class="form-group">
                                <input
                                        class="form-control-lg" 
                                        type="number" 
                                        name="week" 
                                        placeholder="Week" 
                                        v-model="currentGame.week"
                                >
                            </div>
                            <div class="form-group">
                                <input  
                                        class="form-control-lg"
                                        type="text" 
                                        name="opp" 
                                        placeholder="Opp" 
                                        v-model="currentGame.opp"
                                >
                            </div>
                            <div class="form-group">
                                <input
                                        class="form-control-lg" 
                                        type="text" 
                                        name="result" 
                                        placeholder="Result" 
                                        v-model="currentGame.result"
                                >
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control-lg"
                                        type="text" 
                                        name="score" 
                                        placeholder="Score" 
                                        v-model="currentGame.score"
                                >
                            </div>
                            <div class="form-group">
                                <input
                                        class="form-control-lg" 
                                        type="text" 
                                        name="comp" 
                                        placeholder="Comp" 
                                        v-model="currentGame.comp">
                            </div>
                            <div class="form-group">
                                <input
                                        class="form-control-lg" 
                                        type="text" 
                                        name="att" 
                                        placeholder="att" 
                                        v-model="currentGame.att"
                                >
                            </div>
                            <div class="form-group">
                                <input
                                        class="form-control-lg" 
                                        type="text" 
                                        name="comp%"  
                                        placeholder="Comp%" 
                                        v-model="currentGame.compPerc"
                                >
                            </div>
                            <div class="form-group">
                                <input
                                        class="form-control-lg" 
                                        type="text" 
                                        name="yds" 
                                        placeholder="Yds" 
                                        v-model="currentGame.yds"
                                >
                            </div>
                            <div class="form-group">
                                <input
                                        class="form-control-lg" 
                                        type="text" 
                                        name="td" 
                                        placeholder="TD" 
                                        v-model="currentGame.td"
                                >
                            </div>
                            <div class="form-group">
                                <input
                                        class="form-control-lg" 
                                        type="text" 
                                        name="int" 
                                        placeholder="Int" 
                                        v-model="currentGame.int"
                                >
                            </div>
                            <div class="form-group">
                                <input
                                        class="form-control-lg" 
                                        type="text" 
                                        name="rate"  
                                        placeholder="Rate" 
                                        v-model="currentGame.rate"
                                >
                            </div>
                            <div class="form-group">
                                <input
                                        class="form-control-lg" 
                                        type="text" 
                                        name="rushyds"  
                                        placeholder="RushYds" 
                                        v-model="currentGame.rushyds"
                                >
                            </div>
                            <div class="form-group">
                                <button 
                                        class="btn btn-warning btn-block btn-lg" 
                                        @click="showEditForm=false; 
                                                updateGame(); 
                                                clearMsg();"
                                >Update Data
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Game Form -->
        
        <div id="overlay" 
             v-if="showDeleteForm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Game</h5>
                        <button
                                class="close"  
                                type="button" 
                                @click="showDeleteForm=false;"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <h4 class="text-danger">Are you sure you want to delete this game?</h4>
                        <h5>You are deleting week number {{ currentGame.week }}</h5>
                        <hr>
                        <button 
                                class="butn btn-danger btn-lg" 
                                @click="showDeleteForm=false; 
                                        deleteGame(); 
                                        clearMsg();"
                        >Yes
                        </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button 
                                class="butn btn-warning btn-lg" 
                                @click="showDeleteForm=false;"
                        >No
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <script src="./script.js"></script>

</body>
</html>