body {
    background-color: black;
}

#overlay {
    font-family: 'Cardo', serif;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

tbody {
    color: white;
}

table caption {
    caption-side: top;
    color: white;
    text-align: center;
    font-family: 'Cardo', serif;
    font-size: 20px;
}